html {
    color: #cccccc;
}

header {
    background-color: #101010;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    background-color: #1c1c1c;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5em;
}

footer {
    background-color: #101010;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1, h3 {
    font-weight: bold;
    font-size: 5em;
    margin: 1em;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}

h3 {
    font-size: 1.5em;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

ul {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

li {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: center;
    list-style-type: none; /*Removes bullet/number from list*/
    padding: 1em 3em 1em 3em;
    display: inline;
    background-color: #F44786;
}

a {
    color: #F44786;
}

figure {
    padding: 1vw;
    padding-left: 1vw;
}

figcaption {
    margin: 1vw;
}

/*Used exclusively for nav bar*/
.notSelected {
    background-color: #1c1c1c;
}

.icon {
    width: 20%;
    height: auto;
}

.thumbnail {
    width: 75%;
}

.contact {
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    background-color: #333333;
}

/*Specifically for the li in the nav bar*/
.notPink {
    color: #cccccc;
    text-decoration: none;
}

#intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #161616;
}

/*form buttons*/
button {
    padding: 0.5em 3em 0.5em 3em;
    color: #cccccc;
    border: none;
    background: none;
}

textarea {
    width: 100%;
}

.submit {
    background-color: #F44786;
}

.submit:hover {
    background-color: #ED1B76;
}

.reset {
    background-color: #333333;
}

.reset:hover {
    background-color: #161616;
}