/*Large displays (media query not needed)*/
.information {
    border-radius: 0.5em;
    padding: 1em;
    background-color: #333333;

    flex-basis: 33%;
}

article {
    border-radius: 0.5em;
    background-color: #404040;
    margin: .5em;
    padding: 1em;
}

/*Medium displays*/
@media screen and (max-width: 790px) {
    html {
        font-size: 10vw;
    }

    footer{
        text-align: center;

        display: flex;
        flex-direction: column;
    }
}

/*Medium screens*/
@media screen and (max-width: 790px) {
    html {
        font-size: 3.5vw;
    }

    main {
        gap: auto;
    }

    h1 {
        font-size: 15vw;
    }

    ul {
        gap: 1vw;
    }

    .thumbnail {
        width: 100%;
    }

    article {
        padding: 5vw;
    }

    .information {
        padding: 2vw;
        border-radius: 0.5em;
        background-color: #333333;
        flex-basis: 30%;
    }

    .contact {
        width: 100%;
        padding: 0.5em;
    }

    footer{
        text-align: center;

        display: flex;
        flex-direction: column;
    }

    input {
        width: 100%;
    }

    ::-webkit-scrollbar {
        display: hidden;
    }
}

/*Small screens*/
@media screen and (max-width: 590px) {

    h1{
        font-size: 15vw;
    }

    html {
        font-size: 6vw;
    }

    header {
        width: 100%;

        display: flex;
        flex-direction: column;
    }

    .icon {
        width: 20%;
        height: auto;
    }

   figure a {
        display: flex;
        justify-content: center;
    }

    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0;
    }

    li {
        font-size: 100%;
        width: 100%;
    }

    .thumbnail {
        width: 100%;
    }

    figure {
        padding: 0;
    }

    ::-webkit-scrollbar {
        display: hidden;
    }

    footer{
        text-align: center;

        display: flex;
        flex-direction: column;
    }

    .contact{
        width: 100%;
    }

    input {
        width: 100%;
    }

    button {
        text-align: center;
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    h3 {
        font-size: 10vw;
    }

    article {
        padding: 5vw;
    }

    .information {
        padding: 2vw;
        border-radius: 0.5em;
        background-color: #333333;
        flex-basis: 100%;
    }

    .contact {
        width: 100%;
    }
}